name: Backend Tests

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - unlocked
    paths:
      - "src/backend/**"
  push:
    branches:
      - main
    paths:
      - "src/backend/**"
  workflow_dispatch:

jobs:
  backend-tests:
    name: Run Backend tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@master

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Set up Just CLI
        uses: extractions/setup-just@v3

      - name: Run Backend tests
        run: just test backend
