name: Lint Code

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
      - unlocked
    paths:
      - "**/*.json"
      - "**/*.yml"
      - "**/*.yaml"
      - "**/*.md"
  push:
    branches:
      - main
    paths:
      - "**/*.json"
      - "**/*.yml"
      - "**/*.yaml"
      - "**/*.md"
  workflow_dispatch:

jobs:
  lint-config:
    name: Lint Config Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: "22.18.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0

      - uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just deps-root

      - name: Lint Config Files
        run: just lint config
